.DS_Store
Research/Henk/.metadata/*
Research/Henk/.recommenders/*
.idea/*

Research/Henk/\.metadata/

MainApplicatie/\.metadata/

\.metadata/

\.recommenders/

Carcassonne_Client/\.idea/

Carcassonne_Client/Carcassonne_Client\.iml

Carcassonne_Server/Carcassonne_Server\.iml

Research/Raymon/\.idea/

Research/Raymon/filebrowser/\.idea/
