.DS_Store
Research/Henk/.metadata/*
Research/Henk/.recommenders/*
.idea/*

Research/Henk/\.metadata/

MainApplicatie/\.metadata/

\.metadata/

\.recommenders/

.classpath

*.class

Carcassonne_Client/\.idea/

Carcassonne_Client/Carcassonne_Client\.iml

Carcassonne_Server/Carcassonne_Server\.iml

Carcassonne_Client/.classpath
Research/Raymon/\.idea/

Research/Raymon/filebrowser/\.idea/

Research/Raymon/filebrowser/filebrowser.iml

*.eml
