@font-face{
	font-family: EnchantedLand;
	src: url(EnchantedLand.otf);
}

.root * {
	-fx-font-family: "Enchanted Land";
	-fx-text-fill: white;
	-fx-stroke: black;
}
.button {
	-fx-padding: 0;
	-fx-background-color: transparent;
}