@font-face{
	font-family: EnchantedLand;
	 src: url(EnchantedLand.otf);
}

.root * {
    -fx-font-family: "Enchanted Land";
    -fx-text-fill: white;
    -fx-stroke: black;
}
.button {
    -fx-padding: 0;
    -fx-background-color: transparent;
    }
#checkBox {

}


#standardLabel {
    -fx-font-size: 4em;
}

#title {
	-fx-padding: 5em 0 0 0;
    -fx-font-size: 10em;
}
#test{
	-fx-background-image: url("Tet_Back_test.png");
	-fx-background-size: cover;
}
#Player{
-fx-image: url("Text_Back_Player.png");
}
#Kaartview{
	-fx-image: url("Text_Back_Pot.png");
}

#KaartenLeft{
	-fx-font-size: 30px;
}
#Horige {
-fx-image: url("Horige_Rood.png");
}

#labelStyle{
	-fx-font-size: 45px;
	-fx-padding: 1px;
    -fx-border-insets: 5px;
    -fx-background-insets: 5px;
}

#creditStyle{
	-fx-font-size: 45px;
}

#textVelden{
	-fx-font-size: 45px;
}

/*-fx-padding: naar boven | naar links | naar rechts | naar beneden */
#titel{
	-fx-background-color: transparent;
	-fx-font-size: 8em;
	-fx-padding: 10em 0 0 0;
}

/* mainBackground komt terug in alle menu vensters en regelt de achtergrondafbeelding */
#mainBackground{
	-fx-background-image: url("Afbeeldingen/Texture_Menu_Background.jpg");
	-fx-background-size: cover;
}

#schild{
	-fx-background-image: url("Afbeeldingen/Texture_Menu.png");
	-fx-background-repeat: no-repeat;
	-fx-background-position: center center;
	-fx-background-size:contain, stretch;
}

#KaartTest{
		-fx-image: url("Kaart_03.png");
}
#hallo{
-fx-background-image: url("TestenPLZ.jpg");
}
#KaartPreview{
		-fx-image: url("Kaart_00.png");
}


