@font-face{
	font-family: EnchantedLand;
	 src: url(EnchantedLand.otf);
}
#linksZijkant{
-fx-image: url("Text_Back_T  ower.png");
-fx-background-size: cover;
}
#BottomZijkant{
	-fx-image: url("Text_Back_Wall.png");

}
#test{
	-fx-background-image: url("Tet_Back_test.png");
	-fx-background-size: cover;
}
#Player{
-fx-image: url("Text_Back_Player.png");
}
#Kaartview{
	-fx-image: url("Text_Back_Pot.png");

}

#KaartenLeft{
	-fx-stroke: black;
	-fx-font-size: 30px;
	-fx-fill: white;
}

#menuKnoppen{
	-fx-background-color: transparent;
	-fx-font-size: 45px;
	-fx-font-family: "Enchanted Land";
}

#labelStyle{
	-fx-background-color: transparent;
	-fx-font-size: 35px;
	-fx-font-family: "Enchanted Land";
}

#creditStyle{
	-fx-background-color: transparent;
	-fx-font-size: 45px;
	-fx-font-family: "Enchanted Land";
}

#textVelden{
	-fx-font-size: 45px;
	-fx-font-family: "Enchanted Land";
}