@font-face{
	font-family: EnchantedLand;
	 src: url(EnchantedLand.otf);
}
#linksZijkant{
-fx-image: url("Text_Back_Tower.png");
-fx-background-size: cover;
}
#BottomZijkant{
	-fx-image: url("Text_Back_Wall.png");

}
#test{
	-fx-background-image: url("Tet_Back_test.png");
	-fx-background-size: cover;
}
#Player{
-fx-image: url("Text_Back_Player.png");
}
#Kaartview{
	-fx-image: url("Text_Back_Pot.png");

}

#KaartenLeft{
	-fx-stroke: black;
	-fx-font-size: 30px;
	-fx-fill: white;
}

#menuKnoppen{
	-fx-background-color: transparent;
	-fx-font-size: 35px;
	-fx-font-family: "Enchanted Land";
}
#KaartTest{
		-fx-image: url("Kaart_03.png");
}
#hallo{
/* 	-fx-background-color: #3C93EF;*/
-fx-background-image: url("TestenPLZ.jpg");
}
#KaartPreview{
		-fx-image: url("Kaart_00.png");
}