#kaart_01{
	-fx-image: url("kaart_je.png");
}
#kaart_02{
	-fx-image: url("kaart_je.png");
}
#kaart_03{
	-fx-image: url("kaart_je.png");
}
#kaart_04{
	-fx-image: url("kaart_je.png");
}
#kaart_05{
	-fx-image: url("kaart_je.png");
}
#kaart_06{
	-fx-image: url("kaart_je.png");
}
#kaart_07{
	-fx-image: url("kaart_je.png");
}
#kaart_08{
	-fx-image: url("kaart_je.png");
}
#kaart_09{
	-fx-image: url("kaart_je.png");
}
#kaart_10{
	-fx-image: url("kaart_je.png");
}
#kaart_11{
	-fx-image: url("kaart_je.png");
}
#kaart_12{
	-fx-image: url("kaart_je.png");
}
#kaart_13{
	-fx-image: url("kaart_je.png");
}
#kaart_14{
	-fx-image: url("kaart_je.png");
}
#kaart_15{
	-fx-image: url("kaart_je.png");
}
#kaart_16{
	-fx-image: url("kaart_je.png");
}
#kaart_17{
	-fx-image: url("kaart_je.png");
}
#kaart_18{
	-fx-image: url("kaart_je.png");
}
#kaart_19{
	-fx-image: url("kaart_je.png");
}
#kaart_20{
	-fx-image: url("kaart_je.png");
}
#kaart_21{
	-fx-image: url("kaart_je.png");
}
#kaart_22{
	-fx-image: url("kaart_je.png");
}
#kaart_23{
	-fx-image: url("kaart_je.png");
}
#kaart_24s{
	-fx-image: url("kaart_je.png");
}

