#kaart01{
	-fx-image: url("Kaartje.png");
}
#kaart02{
	-fx-image: url("Kaartje.png");
}
#kaart03{
	-fx-image: url("Kaartje.png");
}
#kaart04{
	-fx-image: url("Kaartje.png");
}
#kaart05{
	-fx-image: url("Kaartje.png");
}
#kaart06{
	-fx-image: url("Kaartje.png");
}
#kaart07{
	-fx-image: url("Kaartje.png");
}
#kaart08{
	-fx-image: url("Kaartje.png");
}
#kaart09{
	-fx-image: url("Kaartje.png");
}
#kaart10{
	-fx-image: url("Kaartje.png");
}
#kaart11{
	-fx-image: url("Kaartje.png");
}
#kaart12{
	-fx-image: url("Kaartje.png");
}
#kaart13{
	-fx-image: url("Kaartje.png");
}
#kaart14{
	-fx-image: url("Kaartje.png");
}
#kaart15{
	-fx-image: url("Kaartje.png");
}
#kaart16{
	-fx-image: url("Kaartje.png");
}
#kaart17{
	-fx-image: url("Kaartje.png");
}
#kaart18{
	-fx-image: url("Kaartje.png");
}
#kaart19{
	-fx-image: url("Kaartje.png");
}
#kaart20{
	-fx-image: url("Kaartje.png");
}
#kaart21{
	-fx-image: url("Kaartje.png");
}
#kaart22{
	-fx-image: url("Kaartje.png");
}
#kaart23{
	-fx-image: url("Kaartje.png");
}
#kaart24s{
	-fx-image: url("Kaartje.png");
}

